* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  overflow-x: hidden;
}
nav {
  display: flex;
  background-color: white;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  box-shadow: 0px 1px 5px rgb(114, 114, 128);
  width: 100%;
}
nav .main-logo img{
  width: 160px;
  padding-top: 5px;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
nav ul li a:hover {
  color: grey;
}
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  position: absolute;
  width: 44px;
  height: 28px;
  left: -12px;
  top: -7px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2){
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3){
  opacity: 0;
  transform: scale(0);
}
footer {
  position: absolute;
  background: white;
  height: auto;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 0;
  text-align: center;
  box-shadow: 0px -1px 5px rgb(114, 114, 128);
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.social-media {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.social-media li {
  margin: 0 15px;
}
.social-media a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
.social-media a:hover {
  color: rgb(106, 255, 135);
}
.footer-bottom {
  width: 100%;
  padding: 10px 0px;
  font-size: 16px;
  word-spacing: 2px;
}
.footer-bottom span{
  font-weight: bold
}
.index-header {
  min-height: 90vh;
  width: 100%;
  /* background-color: #1d2026; */
  background-position: center;
  background-size: cover;
  position: relative;
}
.index-main-text-container {
  margin-left: 50%;
}
.index-main-text-container h1 {
  max-width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 75px;
  padding-top: 25%;
}
.index-main-text-container p {
  margin-top: 20px;
  font-size: 20px;
}
.index-main-text-container a{
  background: black;
  color: white;
}
.index-main-text-container a:hover{
  background:grey;
}
.index-main-image-container {
  position: absolute;
  left: 10%;
  width: 600px;
  margin-top: -330px;
  transition: 0.4s;
}
.index, .profile {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}
.index h1, .profile h1 {
  font-size: 36px;
  font-weight: 600;
  color:rgb(106, 255, 135);
  margin-bottom: 20px;
}
.index p, .profile p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  margin-bottom: 30px;
}
.index p a, .profile p a {
  text-decoration: none;
  font-weight: 1000;
  color: rgb(106, 255, 135);
}
.index-text p, .profile-text p, .answer-text p {
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
}
.index p a:hover, .profile p a:hover {
  text-decoration: none;
  color: rgb(21, 122, 41);
}
.index-row, .profile-row, .answer-row {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.index-col, .profile-col, .answer-col {
  flex-basis: 31%;
  background: white;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  color: black;
  transition: 0.5s;
  margin-top: 20px;
}
.index-col h3, .profile-col h3, .answer-col h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.user-button-text {
  text-decoration: none;
  padding: 14px 40px;
  display: inline-block;
  font-size: 18px;
  margin-top: 30px;
  border-radius: 30px;
  transition: 0.3s;
  opacity: 1;
  position: relative;
  box-shadow: 1px 1px 5px rgb(114, 114, 128);
}
.user-icon {
  opacity: 0;
  position: relative;
}
.opinion-image img {
  width: 200px;
}
.profile-main-text-container {
    max-width: 200px;
    margin-left: 15%;
    padding-top: 8%;
    position: relative;
    color: black;
}
.profile-main-text-container h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
    word-wrap: normal;
}
.profile-main-text-container h2 {
    margin-bottom: 30px;
    font-weight: 300;
    margin-top: -10px;
    margin-left: 10px;
    line-height: 50px;
}
.profile-main-image-container {
    position: absolute;
    left: 50%;
    width: 500px;
    padding-top: 8%;
}
.profile-data p {
    margin-top: 0%;
    margin-bottom: 20px;
    margin-left: 10px;
    line-height: 20px;
}
.faq h1, .product-title h1, .others h1 {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 75px;
  font-size: 60px;
  font-display: bold;
}
section .faq {
    width: 100%;
    height: 200px;
    display: flex;
    margin-bottom: 50px;
}
.faq-container, .others-container {
    width: 60%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.faq-accordion-item {
    background-color:white;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.8rem;
    box-shadow: 0px 1px 5px rgb(114, 114, 128);
}
.faq-accordion-item:last-child {
    margin-bottom: 50px;
}
.faq-accordion-link {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0;
    font-weight: bold;
}
.faq-accordion-link i {
    color: black;
    padding: 0.5rem;
}
.faq-accordion-link .ion-md-remove{
    display: none;
}
.faq-answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: whitesmoke;
    color:black;
    font-size: 0.8rem;
    transition: 650ms;
    margin-top: 10px;
}
.faq-answer::before {
    content: '';
    position: absolute;
    width: 0.1rem;
    height: 100%;
    background-color: black;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color:black;
}
.faq-answer p {
    color: black;
    padding: 2rem;
}
.faq-accordion-item:target .faq-answer {
    max-height: 20rem;
}
.faq-accordion-item:target .faq-accordion-link .ion-md-add {
    display: none;
}
.faq-accordion-item:target .faq-accordion-link .ion-md-remove {
    display: block;
}
.post-container {
  width: 80%;
  margin: 0 auto;
}
.product-column-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product-card {
  width: 20%;
  background: white;
  color: black;
  margin-bottom: 30px;
  box-shadow: 0px 1px 5px rgb(114, 114, 128);
  border-radius: 10px;
}
.product-card img {
  width: 100%;
}
.product-panel {
  padding: 5%;
  border-radius: 10px;
}
.product-panel h3 {
  font-size: 25px;
}
.product-card a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.product-card a:hover {
  color: grey;
}
.product-breaker {
  display: inline-block;
  height: 1px;
  width: 90%;
  position: relative;
  border-radius: 4px;
  background-color: gray;
  margin: 2px;
}
.answer, .answer-text p, .answer-col h3 {
  text-align: center;
}
.answer {
  width: 60%;
  margin: auto;
  padding-top: 40px;
}
.answer h1 {
  font-size: 36px;
  font-weight: 600;
  color:rgb(106, 255, 135);
  margin-bottom: 20px;
}
.answer p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding: 10px;
  padding-bottom: 60px;
}
.answer figcaption:last-child {
  padding-bottom: 50px;
}
.others h2 {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
}
.others-container {
  width: 60%;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.others-container a {
  text-align: left;
  font-size: 20px;
  color: white;
}
.others-container a:hover {
  color: rgb(21, 122, 41);
}
.others-container li {
  padding-bottom: 30px;
}
/* Mobile Phone */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
      position: absolute;
      right: 0;
      top: 80px;
      height: 100vh;
      flex-direction: column;
      background-color:black;
      align-items: center;
      justify-content: space-evenly;
      z-index: 1;
      width: 80%;
      transition: all 0.4s;
      opacity: 0;
      visibility: hidden;
  }
  nav ul.slide {
    opacity: 1;
    visibility: unset;
  }
  .index-main-text-container {
    margin-left: 5%;
  }
  .index-main-image-container {
    position: absolute;
    left: 5%;
    width: 235px;
    margin-top: 20px;
  }
  .index-row, .profile-row, .answer-row {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .user-icon {
    text-decoration: none;
    background: rgb(106, 255, 135);
    padding: 14px 20px;
    color: white;
    margin-top: 30px;
    border-radius: 30px;
    transition: 0.3s;
    opacity: 1;
    margin-left: -243px;
  }
  .user-button-text {
    opacity: 0;
  }
  .profile-main-image-container {
    position: absolute;
    left: 50%;
    width: 180px;
    margin-top: 15%;
  }
  .profile-main-text-container {
    max-width: 200px;
    margin-left: 10%;
    padding-top: 8%;
    position: relative;
    color: black;
  }
  .product-card {
    width: 100%;
    margin-bottom: 30px;
  }
  .answer {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
  }
  .answer-title h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 55px;
    padding-top: 25%;
  }
}